* {
   /*border: 1px dotted red !important;*/
}
a{
	/*color: #808080;*/
	color: #222;
	text-decoration: none;
}
a:hover{
	color:#0080a6; 
	text-decoration: underline; 
	cursor:pointer;  
}

strong{
	font-weight: bold;
}

h2{
	/*font-weight: bold;*/
}
h3{
	/*font-weight: bold;*/
}
h4{
	/*font-weight: bold;*/
	font: bold 20px serif;

}
#body{
	overflow: auto;
}
#container{
	/*background: #ccc;*/
	/*position: relative;*/
	height: 1200px;
	/*overflow: auto;*/
}
header{
	/*background: #c83;*/
	background: url("../img/new-york-times-logo.png") no-repeat ;
	/*background-size: contain;*/
	background-size: 200px 120px;
	background-position: 50% 45%;
	position: fixed;
	top: 0;
	/*width: 100%;*/
	/*height: 47px;*/
	padding: 13px 0;
	border-bottom: thin solid #000;
}
#container, header{
	left: 28px;
	right: 5px;
}
.header-left{
	float: left;
}
header .logo{
	font-size: 20px;
	float: left;
	position: relative;
	left: 30%;
}
.header-right{
	float: right;
}
#banner{
	/*background: #55e;*/
	height: 70px;
	margin-top: 50px;
}
#main{
	/*padding: 0 120px;*/
	padding: 10px 120px;
}

article{
	position: relative;
	border-top: thin solid #000;

}
.article-header{
	/*background: #5d8;*/
	/*height: 140px;*/
	margin-bottom: 20px;
}
.article-title{
	/*padding-top: 20px;*/
	/*line-height: 2.375rem;*/

	font: italic 2.125rem georgia, serif;
	border-bottom: thin solid #ddd;
	padding-bottom: 10px;
}
#article-meta{
	font-size: 0.6875rem;
	font-weight: 300;
	font-style: normal;
	font-family: georgia;
}
#article-image1{
	width: 100%;
}
#article-image2{
	display: block;
	float: left;
}
.caption{
	font-size: 0.8125rem;
	color: #333;
}
.credits{
	font-size: 0.6875rem;
	color: #555;
	margin-bottom: 26px;
}
.video{
	margin-bottom: 26px;	
}
#article-options{
	/*background: #38d;*/
	float: left;
	width: 80px;

}
#article-options li{
	font-family: arial, helvetica;
	text-align: center;
	padding: 10px;
	border-bottom: thin solid #ccc;	
}
#article-options a{
	color: #808080;
}
.article-content{
	float: left;
	width: 640px;
	padding: 0 50px;
	/*clear: left;*/
	/*clear: right;*/
	/*position: absolute;*/
	/*display: inline-block;*/
	/*left: 8%;*/
	/*right: 35%;*/
	/*clear: both;*/
}
.article-text{
/*	font-size: 1rem;
	font-weight: 400;
	font-style: normal;*/
	/*line-height: 1.4375rem;*/
	font: normal normal 400 1rem/1.4375rem georgia, serif;
	/*clear: left;*/
	/*padding: 0 26px;*/
}
#article-theory{
	overflow: hidden;
	/*background: #38d;*/
	position: relative;
	width: 950px;
	left: -50px;
	border-top: thin solid #ccc;
	border-bottom: thin solid #ccc;
	padding: 13px 0;
	margin: 13px 0;
}
.theory-background{
	/*width: 100%;*/
	overflow: hidden;
	/*height: 500px;*/
	background-image: url("../img/inflation-945.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: blue;
	/*float: left;*/
}
.theory-rows{
	/*margin-top: 150px;*/
	overflow: hidden;
	position: relative;
}
.theory-row1{
	margin-top: 150px;
}
.theory-row2{
	margin-top: 140px;
}
.theory-text{
	/*position: relative;*/
	/*display: inline;*/
	padding: 0 0;
	margin: 0 0;
	float: left;
	/*clear: left;*/
	width: 24%;
	height: 130px;
}
#article-theory .credits{
	margin-top: 26px;
	margin-bottom: 10px;
}
#article-image2{
	width: 100%;
}

#article-footer{
    color: #999;
	font-family: arial, helvetica;
	font-size: 11px;
	padding: 26px 0;
}
#other-articles{
	clear: both;
}
#other-articles .section{
	border-top: thin solid #ddd;
	padding-top: 13px;
	padding-bottom: 26px;
}
#space, #recommended{
	float: left;
	width: 720px;
}
#space h4, #recommended h4{
	float: left;
}
.go-to, #trending a{
	color: #0080a6; 
}
#trending ol{
	list-style-type: decimal;
}
#trending li{
	border-bottom: thin solid #ddd;
	padding: 5px 0;
}
#space .go-to, #recommended .go-to{
	float: right;
}
.article-list{
	clear: both;
	/*overflow: hidden;*/
}
.article-list-col{
	float: left;
	width: 33%;
	height: 100%;
}
.article-link{
	/*float: left;*/
	display: block;
	margin: 10px 10px;
	width: 100%;
	/*height: 33.3%;*/
	height: 200px;
	/*background: url(../img/21PLANET-mediumThreeByTwo210-v3.jpg) no-repeat 6px top;*/
}
/*.article-link img{
	display: block;
	margin: 0 auto;
}*/
#trending{
	float: right;
	width: 320px;
}
#recommended{
	/*float: left;*/

}
footer{
	border-top: medium double #ddd;
	/*background: #aae;*/
	clear: both;
	padding-top: 7px;
}

footer .col{
	float: left;
	font-family: arial, helvetica;
	/*width: 160px;*/
	width: 16%;
}
footer h4{
	font-family: inherit;
}
footer li{
	padding: 2px 0;
}

.subscribe2 li, .subscribe3 li{
	font-size: 9px;
}

.nav-footer{
	clear: both;
	border-top: thin solid #ddd;
	padding: 15px;
}
.nav-footer-left{
	float: left;
	width: 65%;
}
.nav-footer-right{
	float: right;
}
.nav-footer li{
	float: left;
	/*display: inline;*/
    font-size: 10px;
    color: #999;
    padding: 0 5px;
}
